# Auto detect text files and perform LF normalization
*.py  text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tabwidth=4
*.rpy  text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tabwidth=4

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain


translation-cache.csv merge=union


